altair==5.5.0 ; python_full_version == "3.9.13"
attrs==25.3.0 ; python_full_version == "3.9.13"
blinker==1.9.0 ; python_full_version == "3.9.13"
cachetools==5.5.2 ; python_full_version == "3.9.13"
certifi==2025.4.26 ; python_full_version == "3.9.13"
charset-normalizer==3.4.2 ; python_full_version == "3.9.13"
click==8.1.8 ; python_full_version == "3.9.13"
colorama==0.4.6 ; python_full_version == "3.9.13" and platform_system == "Windows"
gitdb==4.0.12 ; python_full_version == "3.9.13"
gitpython==3.1.44 ; python_full_version == "3.9.13"
idna==3.10 ; python_full_version == "3.9.13"
jinja2==3.1.6 ; python_full_version == "3.9.13"
jsonschema-specifications==2025.4.1 ; python_full_version == "3.9.13"
jsonschema==4.23.0 ; python_full_version == "3.9.13"
markupsafe==3.0.2 ; python_full_version == "3.9.13"
narwhals==1.40.0 ; python_full_version == "3.9.13"
numpy==2.0.2 ; python_full_version == "3.9.13"
packaging==24.2 ; python_full_version == "3.9.13"
pandas==2.2.3 ; python_full_version == "3.9.13"
pillow==11.2.1 ; python_full_version == "3.9.13"
protobuf==6.31.0 ; python_full_version == "3.9.13"
pyarrow==20.0.0 ; python_full_version == "3.9.13"
pydeck==0.9.1 ; python_full_version == "3.9.13"
python-dateutil==2.9.0.post0 ; python_full_version == "3.9.13"
python-dotenv==1.1.0 ; python_full_version == "3.9.13"
pytz==2025.2 ; python_full_version == "3.9.13"
referencing==0.36.2 ; python_full_version == "3.9.13"
requests==2.32.3 ; python_full_version == "3.9.13"
rpds-py==0.25.0 ; python_full_version == "3.9.13"
six==1.17.0 ; python_full_version == "3.9.13"
smmap==5.0.2 ; python_full_version == "3.9.13"
streamlit==1.45.1 ; python_full_version == "3.9.13"
tenacity==9.1.2 ; python_full_version == "3.9.13"
toml==0.10.2 ; python_full_version == "3.9.13"
tornado==6.5 ; python_full_version == "3.9.13"
typing-extensions==4.13.2 ; python_full_version == "3.9.13"
tzdata==2025.2 ; python_full_version == "3.9.13"
urllib3==2.4.0 ; python_full_version == "3.9.13"
watchdog==6.0.0 ; platform_system != "Darwin" and python_full_version == "3.9.13"
